<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <import resource="classpath:dbtool-config.xml"/>

    <!--<context:component-scan base-package="ru.kwanza.dbtool.core.blob"/>-->
    <!--<context:component-scan base-package="ru.kwanza.dbtool.core.fieldhelper"/>-->
    <!--<context:component-scan base-package="ru.kwanza.dbtool.core.lock"/>-->
    <!--<context:component-scan base-package="ru.kwanza.dbtool.core.selectutil"/>-->
    <!--<context:component-scan base-package="ru.kwanza.dbtool.core.updateutil"/>-->

    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.connectionUrl}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="defaultCatalog" value="${jdbc.schema}"/>
        <property name="defaultAutoCommit" value="true"/>
        <property name="maxActive" value="10"/>
        <property name="maxIdle" value="10"/>
    </bean>

    <bean id="dbTester" class="org.dbunit.DataSourceDatabaseTester" depends-on="springLiquibase">
        <constructor-arg index="0" ref="dataSource"/>
        <!--<constructor-arg index="1" value="${jdbc.schema}"/>-->
    </bean>

    <bean id="springLiquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource"/>
        <property name="changeLog" value="classpath:init-test-schema.xml"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>